################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgorithmPattern/SlidingDoor/1.0_MaxSubArray/bin/Debug/net6.0
/AlgorithmPattern/SlidingDoor/1.0_MaxSubArray/obj
*.suo
/AlgorithmPattern/SlidingDoor/2.0_MinSubArray/bin/Debug/net6.0
/AlgorithmPattern/SlidingDoor/2.0_MinSubArray/obj
