################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlgorithmPattern/SlidingDoor/1.0_MaxSubArray/bin/Debug/net6.0
